
/* Font-family LATO
======================================= */


/* extra light */
@font-face {
	font-family: "Lato";
	src: url("./Lato-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}
/* extra light italic*/
@font-face {
	font-family: "Lato";
	src: url("./Lato-ThinItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 100;
}

/*light */
@font-face {
	font-family: "Lato";
	src: url("./Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
/*light italic*/
@font-face {
	font-family: "Lato";
	src: url("./Lato-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}

/* regular */
@font-face {
	font-family: "Lato";
	src: url("./Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* regular italic*/
@font-face {
	font-family: "Lato";
	src: url("./Lato-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

/* bold */
@font-face {
	font-family: "Lato";
	src: url("./Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
/* bold italic*/
@font-face {
	font-family: "Lato";
	src: url("./Lato-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}

/* black */
@font-face {
	font-family: "Lato";
	src: url("./Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
/* black italic*/
@font-face {
	font-family: "Lato";
	src: url("./Lato-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}